<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>app-estacion</title>
	<link rel="stylesheet" href="./static/css/landing.css">
</head>
<body>
<div class="wrapper">
	<div id="informacion">
		<h1>
			App-estacion listara las estaciones meteorologicas construidas por <a href="https://mattprofe.com.ar/web/">Matias Baez</a>
			cada una de ellas mostrara graficos sobre las fluctuaciones en la temperatura, humedad, probabilidad
			de incencios y presion del viento.
		</h1>
	
		<a id="button" href="{{URL_WEB}}panel">Ir al listado</a>
	</div>
</div>
</body>
</html>