<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset app estacion</title>
	<link rel="stylesheet" href="./static/css/login.css">
</head>
<body>
	
	<form method="POST">
		<div class="formulario">
		<input type="password" name="pass1" placeholder="contraseña">
		<input type="password" name="pass2" placeholder="contraseña1">
		<input type="submit" name="boton" value="Acceder">
		</div>
	</form>

</body>
</html>